In [1]:
import os
import numpy as np
import pandas as pd

In [3]:
!cd ../data/pollution/2_processed/ && ls -la

total 117592
-rw-rw-r--@  1 philippemacy  staff     6148 Nov 24 15:08 (1).DS_Store
drwxr-xr-x@ 24 philippemacy  staff      768 Nov 28 16:19 .
drwxr-xr-x@ 25 philippemacy  staff      800 Nov 28 16:19 ..
-rw-rw-r--@  1 philippemacy  staff     6148 Nov 24 15:08 .DS_Store
-rw-rw-r--@  1 philippemacy  staff  2561351 Nov 24 15:13 PA75001.csv
-rw-rw-r--@  1 philippemacy  staff  2965830 Nov 24 15:13 PA75002.csv
-rw-rw-r--@  1 philippemacy  staff  3181451 Nov 24 15:13 PA75004.csv
-rw-rw-r--@  1 philippemacy  staff  2755954 Nov 24 15:13 PA75006.csv
-rw-rw-r--@  1 philippemacy  staff  3343070 Nov 24 15:13 PA75007_1.csv
-rw-rw-r--@  1 philippemacy  staff  2783824 Nov 24 15:13 PA75007_2.csv
-rw-rw-r--@  1 philippemacy  staff  3308645 Nov 24 15:13 PA75008.csv
-rw-rw-r--@  1 philippemacy  staff  3244208 Nov 24 15:13 PA75009.csv
-rw-rw-r--@  1 philippemacy  staff  2881234 Nov 24 15:13 PA75012_1.csv
-rw-rw-r--@  1 philippemacy  staff  3268030 Nov 24 15:13 PA75012_2.csv
-rw-rw-r--@  1 philippemacy  staff  2789641 Nov 24 15:13 PA75012_3.csv
-rw-rw-r--@  1 philippemacy  staff  2997587 Nov 24 15:13 PA75013.csv
-rw-rw-r--@  1 philippemacy  staff  2123082 Nov 24 15:13 PA75014.csv
-rw-rw-r--@  1 philippemacy  staff  2714631 Nov 24 15:14 PA75015.csv
-rw-rw-r--@  1 philippemacy  staff  4028449 Nov 24 15:14 PA75016.csv
-rw-rw-r--@  1 philippemacy  staff  3225916 Nov 24 15:14 PA75018.csv
-rw-rw-r--@  1 philippemacy  staff  3119381 Nov 24 15:14 PA92220.csv
-rw-rw-r--@  1 philippemacy  staff  2307843 Nov 24 15:14 PA92800.csv
-rw-rw-r--@  1 philippemacy  staff  3321925 Nov 24 15:14 PA93300.csv
-rw-rw-r--@  1 philippemacy  staff  3227569 Nov 24 15:14 PA93500.csv

In [49]:
# merge all the dataset in a unique dataset using 'Date_time' as key
df_1 = pd.read_csv('/Users/philippemacy/code/TheLab75/ParisDeepAirProject/data/pollution/2_Processed/PA75001.csv')
df_2 = pd.read_csv('/Users/philippemacy/code/TheLab75/ParisDeepAirProject/data/pollution/2_Processed/PA75002.csv')
df_3 = pd.read_csv('/Users/philippemacy/code/TheLab75/ParisDeepAirProject/data/pollution/2_Processed/PA75004.csv')
df_4 = pd.read_csv('/Users/philippemacy/code/TheLab75/ParisDeepAirProject/data/pollution/2_Processed/PA75006.csv')
df_5 = pd.read_csv('/Users/philippemacy/code/TheLab75/ParisDeepAirProject/data/pollution/2_Processed/PA75007_1.csv')
df_6 = pd.read_csv('/Users/philippemacy/code/TheLab75/ParisDeepAirProject/data/pollution/2_Processed/PA75007_2.csv')
df_7 = pd.read_csv('/Users/philippemacy/code/TheLab75/ParisDeepAirProject/data/pollution/2_Processed/PA75008.csv')
df_8 = pd.read_csv('/Users/philippemacy/code/TheLab75/ParisDeepAirProject/data/pollution/2_Processed/PA75009.csv')
df_9 = pd.read_csv('/Users/philippemacy/code/TheLab75/ParisDeepAirProject/data/pollution/2_Processed/PA75012_1.csv')
df_10 = pd.read_csv('/Users/philippemacy/code/TheLab75/ParisDeepAirProject/data/pollution/2_Processed/PA75012_2.csv')
df_11 = pd.read_csv('/Users/philippemacy/code/TheLab75/ParisDeepAirProject/data/pollution/2_Processed/PA75012_3.csv')
df_12 = pd.read_csv('/Users/philippemacy/code/TheLab75/ParisDeepAirProject/data/pollution/2_Processed/PA75013.csv')
df_13 = pd.read_csv('/Users/philippemacy/code/TheLab75/ParisDeepAirProject/data/pollution/2_Processed/PA75014.csv')
df_14 = pd.read_csv('/Users/philippemacy/code/TheLab75/ParisDeepAirProject/data/pollution/2_Processed/PA75015.csv')
df_15 = pd.read_csv('/Users/philippemacy/code/TheLab75/ParisDeepAirProject/data/pollution/2_Processed/PA75016.csv')
df_16 = pd.read_csv('/Users/philippemacy/code/TheLab75/ParisDeepAirProject/data/pollution/2_Processed/PA75018.csv')
df_17 = pd.read_csv('/Users/philippemacy/code/TheLab75/ParisDeepAirProject/data/pollution/2_Processed/PA92220.csv')
df_18 = pd.read_csv('/Users/philippemacy/code/TheLab75/ParisDeepAirProject/data/pollution/2_Processed/PA92800.csv')
df_19 = pd.read_csv('/Users/philippemacy/code/TheLab75/ParisDeepAirProject/data/pollution/2_Processed/PA93300.csv')
df_20 = pd.read_csv('/Users/philippemacy/code/TheLab75/ParisDeepAirProject/data/pollution/2_Processed/PA93500.csv')

In [13]:
df_merge = pd.merge(df_1,df_2,df_3,df_4,df_5,df_6,df_7,df_8,df_9,df_10,df_11,df_12,df_13,df_14,df_15,df_16,df_17,df_18,df_19,df_20, on='Date_time')

TypeError: merge() got multiple values for argument 'on'

In [18]:
df_merge = df_1.merge(df_2, on='Date_time').merge(df_3, on='Date_time').merge(df_4, on='Date_time').merge(df_5, on='Date_time').merge(df_6, on='Date_time').merge(df_7, on='Date_time').merge(df_8, on='Date_time').merge(df_9, on='Date_time').merge(df_10, on='Date_time').merge(df_11, on='Date_time').merge(df_12, on='Date_time').merge(df_13, on='Date_time').merge(df_14, on='Date_time').merge(df_15, on='Date_time').merge(df_16, on='Date_time').merge(df_17, on='Date_time').merge(df_18, on='Date_time').merge(df_19, on='Date_time').merge(df_20, on='Date_time')

/var/folders/yp/56r31c5n7dvctsd6b94b6t4w0000gn/T/ipykernel_10918/1902142246.py:1: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Station_name_x', 'NO2_x', 'Station_type_x', 'NOX_x', 'Unnamed: 0_x', 'NO_x'} in the result is deprecated and will raise a MergeError in a future version.
  df_merge = df_1.merge(df_2, on='Date_time').merge(df_3, on='Date_time').merge(df_4, on='Date_time').merge(df_5, on='Date_time').merge(df_6, on='Date_time').merge(df_7, on='Date_time').merge(df_8, on='Date_time').merge(df_9, on='Date_time').merge(df_10, on='Date_time').merge(df_11, on='Date_time').merge(df_12, on='Date_time').merge(df_13, on='Date_time').merge(df_14, on='Date_time').merge(df_15, on='Date_time').merge(df_16, on='Date_time').merge(df_17, on='Date_time').merge(df_18, on='Date_time').merge(df_19, on='Date_time').merge(df_20, on='Date_time')
/var/folders/yp/56r31c5n7dvctsd6b94b6t4w0000gn/T/ipykernel_10918/1902142246.py:1: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Station_name_x', 'NO2_x', 'Station_type_x', 'NOX_x', 'Unnamed: 0_x', 'NO_x'} in the result is deprecated and will raise a MergeError in a future version.
  df_merge = df_1.merge(df_2, on='Date_time').merge(df_3, on='Date_time').merge(df_4, on='Date_time').merge(df_5, on='Date_time').merge(df_6, on='Date_time').merge(df_7, on='Date_time').merge(df_8, on='Date_time').merge(df_9, on='Date_time').merge(df_10, on='Date_time').merge(df_11, on='Date_time').merge(df_12, on='Date_time').merge(df_13, on='Date_time').merge(df_14, on='Date_time').merge(df_15, on='Date_time').merge(df_16, on='Date_time').merge(df_17, on='Date_time').merge(df_18, on='Date_time').merge(df_19, on='Date_time').merge(df_20, on='Date_time')
/var/folders/yp/56r31c5n7dvctsd6b94b6t4w0000gn/T/ipykernel_10918/1902142246.py:1: FutureWarning: Passing 'suffixes' which cause duplicate columns {'PM10_x', 'Station_name_x', 'NO2_x', 'Station_type_x', 'NOX_x', 'Unnamed: 0_x', 'NO_x'} in the result is deprecated and will raise a MergeError in a future version.
  df_merge = df_1.merge(df_2, on='Date_time').merge(df_3, on='Date_time').merge(df_4, on='Date_time').merge(df_5, on='Date_time').merge(df_6, on='Date_time').merge(df_7, on='Date_time').merge(df_8, on='Date_time').merge(df_9, on='Date_time').merge(df_10, on='Date_time').merge(df_11, on='Date_time').merge(df_12, on='Date_time').merge(df_13, on='Date_time').merge(df_14, on='Date_time').merge(df_15, on='Date_time').merge(df_16, on='Date_time').merge(df_17, on='Date_time').merge(df_18, on='Date_time').merge(df_19, on='Date_time').merge(df_20, on='Date_time')
/var/folders/yp/56r31c5n7dvctsd6b94b6t4w0000gn/T/ipykernel_10918/1902142246.py:1: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Station_name_x', 'NO2_x', 'Station_type_x', 'NOX_x', 'Unnamed: 0_x', 'NO_x'} in the result is deprecated and will raise a MergeError in a future version.
  df_merge = df_1.merge(df_2, on='Date_time').merge(df_3, on='Date_time').merge(df_4, on='Date_time').merge(df_5, on='Date_time').merge(df_6, on='Date_time').merge(df_7, on='Date_time').merge(df_8, on='Date_time').merge(df_9, on='Date_time').merge(df_10, on='Date_time').merge(df_11, on='Date_time').merge(df_12, on='Date_time').merge(df_13, on='Date_time').merge(df_14, on='Date_time').merge(df_15, on='Date_time').merge(df_16, on='Date_time').merge(df_17, on='Date_time').merge(df_18, on='Date_time').merge(df_19, on='Date_time').merge(df_20, on='Date_time')
/var/folders/yp/56r31c5n7dvctsd6b94b6t4w0000gn/T/ipykernel_10918/1902142246.py:1: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Station_name_x', 'NO2_x', 'Station_type_x', 'NOX_x', 'Unnamed: 0_x', 'NO_x'} in the result is deprecated and will raise a MergeError in a future version.
  df_merge = df_1.merge(df_2, on='Date_time').merge(df_3, on='Date_time').merge(df_4, on='Date_time').merge(df_5, on='Date_time').merge(df_6, on='Date_time').merge(df_7, on='Date_time').merge(df_8, on='Date_time').merge(df_9, on='Date_time').merge(df_10, on='Date_time').merge(df_11, on='Date_time').merge(df_12, on='Date_time').merge(df_13, on='Date_time').merge(df_14, on='Date_time').merge(df_15, on='Date_time').merge(df_16, on='Date_time').merge(df_17, on='Date_time').merge(df_18, on='Date_time').merge(df_19, on='Date_time').merge(df_20, on='Date_time')
/var/folders/yp/56r31c5n7dvctsd6b94b6t4w0000gn/T/ipykernel_10918/1902142246.py:1: FutureWarning: Passing 'suffixes' which cause duplicate columns {'PM10_x'} in the result is deprecated and will raise a MergeError in a future version.
  df_merge = df_1.merge(df_2, on='Date_time').merge(df_3, on='Date_time').merge(df_4, on='Date_time').merge(df_5, on='Date_time').merge(df_6, on='Date_time').merge(df_7, on='Date_time').merge(df_8, on='Date_time').merge(df_9, on='Date_time').merge(df_10, on='Date_time').merge(df_11, on='Date_time').merge(df_12, on='Date_time').merge(df_13, on='Date_time').merge(df_14, on='Date_time').merge(df_15, on='Date_time').merge(df_16, on='Date_time').merge(df_17, on='Date_time').merge(df_18, on='Date_time').merge(df_19, on='Date_time').merge(df_20, on='Date_time')
/var/folders/yp/56r31c5n7dvctsd6b94b6t4w0000gn/T/ipykernel_10918/1902142246.py:1: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Station_name_x', 'NO2_x', 'Unnamed: 0_x', 'Station_type_x', 'NO_x'} in the result is deprecated and will raise a MergeError in a future version.
  df_merge = df_1.merge(df_2, on='Date_time').merge(df_3, on='Date_time').merge(df_4, on='Date_time').merge(df_5, on='Date_time').merge(df_6, on='Date_time').merge(df_7, on='Date_time').merge(df_8, on='Date_time').merge(df_9, on='Date_time').merge(df_10, on='Date_time').merge(df_11, on='Date_time').merge(df_12, on='Date_time').merge(df_13, on='Date_time').merge(df_14, on='Date_time').merge(df_15, on='Date_time').merge(df_16, on='Date_time').merge(df_17, on='Date_time').merge(df_18, on='Date_time').merge(df_19, on='Date_time').merge(df_20, on='Date_time')
/var/folders/yp/56r31c5n7dvctsd6b94b6t4w0000gn/T/ipykernel_10918/1902142246.py:1: FutureWarning: Passing 'suffixes' which cause duplicate columns {'PM25_x', 'PM10_x', 'NOX_x'} in the result is deprecated and will raise a MergeError in a future version.
  df_merge = df_1.merge(df_2, on='Date_time').merge(df_3, on='Date_time').merge(df_4, on='Date_time').merge(df_5, on='Date_time').merge(df_6, on='Date_time').merge(df_7, on='Date_time').merge(df_8, on='Date_time').merge(df_9, on='Date_time').merge(df_10, on='Date_time').merge(df_11, on='Date_time').merge(df_12, on='Date_time').merge(df_13, on='Date_time').merge(df_14, on='Date_time').merge(df_15, on='Date_time').merge(df_16, on='Date_time').merge(df_17, on='Date_time').merge(df_18, on='Date_time').merge(df_19, on='Date_time').merge(df_20, on='Date_time')
/var/folders/yp/56r31c5n7dvctsd6b94b6t4w0000gn/T/ipykernel_10918/1902142246.py:1: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Station_name_x', 'NO2_x', 'O3_x', 'Station_type_x', 'Unnamed: 0_x', 'NO_x'} in the result is deprecated and will raise a MergeError in a future version.
  df_merge = df_1.merge(df_2, on='Date_time').merge(df_3, on='Date_time').merge(df_4, on='Date_time').merge(df_5, on='Date_time').merge(df_6, on='Date_time').merge(df_7, on='Date_time').merge(df_8, on='Date_time').merge(df_9, on='Date_time').merge(df_10, on='Date_time').merge(df_11, on='Date_time').merge(df_12, on='Date_time').merge(df_13, on='Date_time').merge(df_14, on='Date_time').merge(df_15, on='Date_time').merge(df_16, on='Date_time').merge(df_17, on='Date_time').merge(df_18, on='Date_time').merge(df_19, on='Date_time').merge(df_20, on='Date_time')
/var/folders/yp/56r31c5n7dvctsd6b94b6t4w0000gn/T/ipykernel_10918/1902142246.py:1: FutureWarning: Passing 'suffixes' which cause duplicate columns {'NOX_x'} in the result is deprecated and will raise a MergeError in a future version.
  df_merge = df_1.merge(df_2, on='Date_time').merge(df_3, on='Date_time').merge(df_4, on='Date_time').merge(df_5, on='Date_time').merge(df_6, on='Date_time').merge(df_7, on='Date_time').merge(df_8, on='Date_time').merge(df_9, on='Date_time').merge(df_10, on='Date_time').merge(df_11, on='Date_time').merge(df_12, on='Date_time').merge(df_13, on='Date_time').merge(df_14, on='Date_time').merge(df_15, on='Date_time').merge(df_16, on='Date_time').merge(df_17, on='Date_time').merge(df_18, on='Date_time').merge(df_19, on='Date_time').merge(df_20, on='Date_time')
/var/folders/yp/56r31c5n7dvctsd6b94b6t4w0000gn/T/ipykernel_10918/1902142246.py:1: FutureWarning: Passing 'suffixes' which cause duplicate columns {'PM10_x', 'Station_name_x', 'NO2_x', 'Station_type_x', 'Unnamed: 0_x', 'PM25_x', 'NO_x'} in the result is deprecated and will raise a MergeError in a future version.
  df_merge = df_1.merge(df_2, on='Date_time').merge(df_3, on='Date_time').merge(df_4, on='Date_time').merge(df_5, on='Date_time').merge(df_6, on='Date_time').merge(df_7, on='Date_time').merge(df_8, on='Date_time').merge(df_9, on='Date_time').merge(df_10, on='Date_time').merge(df_11, on='Date_time').merge(df_12, on='Date_time').merge(df_13, on='Date_time').merge(df_14, on='Date_time').merge(df_15, on='Date_time').merge(df_16, on='Date_time').merge(df_17, on='Date_time').merge(df_18, on='Date_time').merge(df_19, on='Date_time').merge(df_20, on='Date_time')
/var/folders/yp/56r31c5n7dvctsd6b94b6t4w0000gn/T/ipykernel_10918/1902142246.py:1: FutureWarning: Passing 'suffixes' which cause duplicate columns {'CO_x', 'SO2_x', 'NOX_x'} in the result is deprecated and will raise a MergeError in a future version.
  df_merge = df_1.merge(df_2, on='Date_time').merge(df_3, on='Date_time').merge(df_4, on='Date_time').merge(df_5, on='Date_time').merge(df_6, on='Date_time').merge(df_7, on='Date_time').merge(df_8, on='Date_time').merge(df_9, on='Date_time').merge(df_10, on='Date_time').merge(df_11, on='Date_time').merge(df_12, on='Date_time').merge(df_13, on='Date_time').merge(df_14, on='Date_time').merge(df_15, on='Date_time').merge(df_16, on='Date_time').merge(df_17, on='Date_time').merge(df_18, on='Date_time').merge(df_19, on='Date_time').merge(df_20, on='Date_time')
/var/folders/yp/56r31c5n7dvctsd6b94b6t4w0000gn/T/ipykernel_10918/1902142246.py:1: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Station_name_x', 'NO2_x', 'Unnamed: 0_x', 'Station_type_x', 'NO_x'} in the result is deprecated and will raise a MergeError in a future version.
  df_merge = df_1.merge(df_2, on='Date_time').merge(df_3, on='Date_time').merge(df_4, on='Date_time').merge(df_5, on='Date_time').merge(df_6, on='Date_time').merge(df_7, on='Date_time').merge(df_8, on='Date_time').merge(df_9, on='Date_time').merge(df_10, on='Date_time').merge(df_11, on='Date_time').merge(df_12, on='Date_time').merge(df_13, on='Date_time').merge(df_14, on='Date_time').merge(df_15, on='Date_time').merge(df_16, on='Date_time').merge(df_17, on='Date_time').merge(df_18, on='Date_time').merge(df_19, on='Date_time').merge(df_20, on='Date_time')

In [26]:
df_1_new = df_1.drop(columns=['Station_name','Station_type','Unnamed: 0'], axis = 1)
df_1_new

                    Date_time     CO  PM10  PM25   NO2    NO   NOX   O3
0      2019/01/01 01:00:00+00    NaN   NaN   NaN   NaN   NaN   NaN  NaN
1      2019/01/01 02:00:00+00    NaN   NaN   NaN   NaN   NaN   NaN  NaN
2      2019/01/01 03:00:00+00    NaN   NaN   NaN   NaN   NaN   NaN  NaN
3      2019/01/01 04:00:00+00    NaN   NaN   NaN   NaN   NaN   NaN  NaN
4      2019/01/01 05:00:00+00    NaN   NaN   NaN   NaN   NaN   NaN  NaN
...                       ...    ...   ...   ...   ...   ...   ...  ...
33907  2022/11/13 20:00:00+00  0.362  22.5  19.9  25.4  15.2  48.7  0.1
33908  2022/11/13 21:00:00+00  0.360  23.6  21.4  28.5  12.4  47.4  0.1
33909  2022/11/13 22:00:00+00    NaN   NaN   NaN   NaN   NaN   NaN  NaN
33910  2022/11/13 23:00:00+00    NaN   NaN   NaN   NaN   NaN   NaN  NaN
33911  2022/11/14 00:00:00+00    NaN   NaN   NaN   NaN   NaN   NaN  NaN

[33912 rows x 8 columns]

In [45]:
#dfs = [df_1,df_2,df_3,df_4,df_5,df_6,df_7,df_8,df_9,df_10,df_11,df_12,df_13,df_14,df_15,df_16,df_17,df_18,df_19,df_20]

def clean(df):
    df = df.drop(columns=['Station_type','Unnamed: 0'], axis = 1)
    return df

In [32]:
list(df_10.columns)

['Unnamed: 0',
 'Date_time',
 'PM10',
 'PM25',
 'NO2',
 'NO',
 'NOX',
 'Station_name',
 'Station_type']

In [33]:
a = list(df_10.columns)
b = [ i+'df' for i in a]

In [34]:
b

['Unnamed: 0df',
 'Date_timedf',
 'PM10df',
 'PM25df',
 'NO2df',
 'NOdf',
 'NOXdf',
 'Station_namedf',
 'Station_typedf']

In [36]:
df_10.columns = b
df_10

,Unnamed: 0df,Date_timedf,PM10df,PM25df,NO2df,NOdf,NOXdf,Station_namedf,Station_typedf
0,0,2018/01/01 01:00:00+00,18.1,8.9,13.0,4.0,19.1,75012 - BP Est,Traffic
1,1,2018/01/01 02:00:00+00,14.7,8.2,15.0,6.0,23.6,75012 - BP Est,Traffic
2,2,2018/01/01 03:00:00+00,11.6,6.1,20.0,6.0,28.0,75012 - BP Est,Traffic
3,3,2018/01/01 04:00:00+00,14.4,8.6,25.0,8.0,36.8,75012 - BP Est,Traffic
4,4,2018/01/01 05:00:00+00,18.2,10.4,25.0,8.0,37.3,75012 - BP Est,Traffic
...,...,...,...,...,...,...,...,...,...
42643,42643,2022/11/14 20:00:00+00,31.5,21.8,52.7,108.7,218.4,75012 - BP Est,Traffic
42644,42644,2022/11/14 21:00:00+00,NaN,NaN,46.9,61.9,141.1,75012 - BP Est,Traffic
42645,42645,2022/11/14 22:00:00+00,NaN,NaN,NaN,NaN,NaN,75012 - BP Est,Traffic
42646,42646,2022/11/14 23:00:00+00,NaN,NaN,NaN,NaN,NaN,75012 - BP Est,Traffic
42647,42647,2022/11/15 00:00:00+00,NaN,NaN,NaN,NaN,NaN,75012 - BP Est,Traffic

In [37]:
def rename_columns (df):
    column = list(df.columns)
    rename = [i+df for i in column]
    df.columns = rename
    return df

In [38]:
df_1

,Unnamed: 0,Date_time,CO,PM10,PM25,NO2,NO,NOX,O3,Station_name,Station_type
0,0,2019/01/01 01:00:00+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,75001 - Halles,Urbain
1,1,2019/01/01 02:00:00+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,75001 - Halles,Urbain
2,2,2019/01/01 03:00:00+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,75001 - Halles,Urbain
3,3,2019/01/01 04:00:00+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,75001 - Halles,Urbain
4,4,2019/01/01 05:00:00+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,75001 - Halles,Urbain
...,...,...,...,...,...,...,...,...,...,...,...
33907,33907,2022/11/13 20:00:00+00,0.362,22.5,19.9,25.4,15.2,48.7,0.1,75001 - Halles,Urbain
33908,33908,2022/11/13 21:00:00+00,0.360,23.6,21.4,28.5,12.4,47.4,0.1,75001 - Halles,Urbain
33909,33909,2022/11/13 22:00:00+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,75001 - Halles,Urbain
33910,33910,2022/11/13 23:00:00+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,75001 - Halles,Urbain
33911,33911,2022/11/14 00:00:00+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,75001 - Halles,Urbain

In [50]:
df_1 = clean(df_1)
df_1

,Date_time,CO,PM10,PM25,NO2,NO,NOX,O3,Station_name
0,2019/01/01 01:00:00+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,75001 - Halles
1,2019/01/01 02:00:00+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,75001 - Halles
2,2019/01/01 03:00:00+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,75001 - Halles
3,2019/01/01 04:00:00+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,75001 - Halles
4,2019/01/01 05:00:00+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,75001 - Halles
...,...,...,...,...,...,...,...,...,...
33907,2022/11/13 20:00:00+00,0.362,22.5,19.9,25.4,15.2,48.7,0.1,75001 - Halles
33908,2022/11/13 21:00:00+00,0.360,23.6,21.4,28.5,12.4,47.4,0.1,75001 - Halles
33909,2022/11/13 22:00:00+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,75001 - Halles
33910,2022/11/13 23:00:00+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,75001 - Halles
33911,2022/11/14 00:00:00+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,75001 - Halles

In [52]:
rename_columns(df_1)

UFuncTypeError: ufunc 'add' did not contain a loop with signature matching types (dtype('<U9'), dtype('float64')) -> None