# Imports

In [17]:
import pandas as pd

In [15]:
files = !cd ../data/pollution/2_processed && ls

In [16]:
list(files)

['PA75001.csv',
 'PA75002.csv',
 'PA75004.csv',
 'PA75006.csv',
 'PA75007_1.csv',
 'PA75007_2.csv',
 'PA75008.csv',
 'PA75009.csv',
 'PA75012_1.csv',
 'PA75012_2.csv',
 'PA75012_3.csv',
 'PA75013.csv',
 'PA75014.csv',
 'PA75015.csv',
 'PA75016.csv',
 'PA75018.csv',
 'PA92220.csv',
 'PA92800.csv',
 'PA93300.csv',
 'PA93500.csv']

# Per station - EDA

## 75001

In [23]:
df = pd.read_csv(f"../data/pollution/2_processed/{files[0]}", index_col="Date_time")

In [26]:
from workflow.utils import analyse_df

analyse_df(df)

General Info:
33912 Rows 7 Columns
7064 Duplicated Rows
Memory Usage: 2.07Mb

Columns float64: ['PM25', 'PM10', 'NO2', 'O3', 'SO2']

Columns object: ['Station_name', 'Station_type']

               PM25          PM10           NO2            O3  SO2
count  24533.000000  22492.000000  23987.000000  26325.000000  0.0
mean      11.622590     19.347461     23.252695     49.443905  NaN
std        8.667742     11.810691     15.071069     27.259004  NaN
min        0.000000      0.500000      1.900000      0.000000  NaN
25%        6.100000     11.500000     11.900000     30.400000  NaN
50%        9.100000     16.600000     19.000000     49.000000  NaN
75%       14.300000     24.000000     30.900000     66.000000  NaN
max      111.100000    128.500000    106.200000    193.100000  NaN

Cheking Missing Values:
Column "PM25" has 9379 missing values (27.66%)
Column "PM10" has 11420 missing values (33.68%)
Column "NO2" has 9925 missing values (29.27%)
Column "O3" has 7587 missing values (22.37%)
Column "SO2" has 33912 missing values (100.00%)

Checking Linear Correlation:
Linear Correlation found between columns PM10 and PM25 -> Pearson coef. = 0.89

/Users/llm/code/TheLab75/ParisDeepAirProject/workflow/utils.py:83: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df_corr = df.corr() # Correlation DataFrame

## 75002

In [23]:
df = pd.read_csv(f"../data/pollution/2_processed/{files[1]}", index_col="Date_time")

In [26]:
from workflow.utils import analyse_df

analyse_df(df)

General Info:
33912 Rows 7 Columns
7064 Duplicated Rows
Memory Usage: 2.07Mb

Columns float64: ['PM25', 'PM10', 'NO2', 'O3', 'SO2']

Columns object: ['Station_name', 'Station_type']

               PM25          PM10           NO2            O3  SO2
count  24533.000000  22492.000000  23987.000000  26325.000000  0.0
mean      11.622590     19.347461     23.252695     49.443905  NaN
std        8.667742     11.810691     15.071069     27.259004  NaN
min        0.000000      0.500000      1.900000      0.000000  NaN
25%        6.100000     11.500000     11.900000     30.400000  NaN
50%        9.100000     16.600000     19.000000     49.000000  NaN
75%       14.300000     24.000000     30.900000     66.000000  NaN
max      111.100000    128.500000    106.200000    193.100000  NaN

Cheking Missing Values:
Column "PM25" has 9379 missing values (27.66%)
Column "PM10" has 11420 missing values (33.68%)
Column "NO2" has 9925 missing values (29.27%)
Column "O3" has 7587 missing values (22.37%)
Column "SO2" has 33912 missing values (100.00%)

Checking Linear Correlation:
Linear Correlation found between columns PM10 and PM25 -> Pearson coef. = 0.89

/Users/llm/code/TheLab75/ParisDeepAirProject/workflow/utils.py:83: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df_corr = df.corr() # Correlation DataFrame

## 75004

In [23]:
df = pd.read_csv(f"../data/pollution/2_processed/{files[2]}", index_col="Date_time")

In [26]:
from workflow.utils import analyse_df

analyse_df(df)

General Info:
33912 Rows 7 Columns
7064 Duplicated Rows
Memory Usage: 2.07Mb

Columns float64: ['PM25', 'PM10', 'NO2', 'O3', 'SO2']

Columns object: ['Station_name', 'Station_type']

               PM25          PM10           NO2            O3  SO2
count  24533.000000  22492.000000  23987.000000  26325.000000  0.0
mean      11.622590     19.347461     23.252695     49.443905  NaN
std        8.667742     11.810691     15.071069     27.259004  NaN
min        0.000000      0.500000      1.900000      0.000000  NaN
25%        6.100000     11.500000     11.900000     30.400000  NaN
50%        9.100000     16.600000     19.000000     49.000000  NaN
75%       14.300000     24.000000     30.900000     66.000000  NaN
max      111.100000    128.500000    106.200000    193.100000  NaN

Cheking Missing Values:
Column "PM25" has 9379 missing values (27.66%)
Column "PM10" has 11420 missing values (33.68%)
Column "NO2" has 9925 missing values (29.27%)
Column "O3" has 7587 missing values (22.37%)
Column "SO2" has 33912 missing values (100.00%)

Checking Linear Correlation:
Linear Correlation found between columns PM10 and PM25 -> Pearson coef. = 0.89

/Users/llm/code/TheLab75/ParisDeepAirProject/workflow/utils.py:83: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df_corr = df.corr() # Correlation DataFrame