In [1]:
import numpy as np
import pandas as pd

In [2]:
!cd ../data/pollution/2_Processed && ls -la

total 117576
drwxr-xr-x@ 23 llm  staff      736 Nov 25 00:14 .
drwxr-xr-x@ 25 llm  staff      800 Nov 25 00:14 ..
-rw-r--r--@  1 llm  staff     6148 Nov 25 00:08 .DS_Store
-rw-r--r--@  1 llm  staff  2561351 Nov 25 00:13 PA75001.csv
-rw-r--r--@  1 llm  staff  2965830 Nov 25 00:13 PA75002.csv
-rw-r--r--@  1 llm  staff  3181451 Nov 25 00:13 PA75004.csv
-rw-r--r--@  1 llm  staff  2755954 Nov 25 00:13 PA75006.csv
-rw-r--r--@  1 llm  staff  3343070 Nov 25 00:13 PA75007_1.csv
-rw-r--r--@  1 llm  staff  2783824 Nov 25 00:13 PA75007_2.csv
-rw-r--r--@  1 llm  staff  3308645 Nov 25 00:13 PA75008.csv
-rw-r--r--@  1 llm  staff  3244208 Nov 25 00:13 PA75009.csv
-rw-r--r--@  1 llm  staff  2881234 Nov 25 00:13 PA75012_1.csv
-rw-r--r--@  1 llm  staff  3268030 Nov 25 00:13 PA75012_2.csv
-rw-r--r--@  1 llm  staff  2789641 Nov 25 00:13 PA75012_3.csv
-rw-r--r--@  1 llm  staff  2997587 Nov 25 00:13 PA75013.csv
-rw-r--r--@  1 llm  staff  2123082 Nov 25 00:13 PA75014.csv
-rw-r--r--@  1 llm  staff  2714631 Nov 25 00:14 PA75015.csv
-rw-r--r--@  1 llm  staff  4028449 Nov 25 00:14 PA75016.csv
-rw-r--r--@  1 llm  staff  3225916 Nov 25 00:14 PA75018.csv
-rw-r--r--@  1 llm  staff  3119381 Nov 25 00:14 PA92220.csv
-rw-r--r--@  1 llm  staff  2307843 Nov 25 00:14 PA92800.csv
-rw-r--r--@  1 llm  staff  3321925 Nov 25 00:14 PA93300.csv
-rw-r--r--@  1 llm  staff  3227569 Nov 25 00:14 PA93500.csv

In [3]:
file_list =  !find ../data/Pollution/2_Processed | grep .csv

In [4]:
file_list = file_list.sort()
file_list

['../data/Pollution/2_Processed/PA75001.csv',
 '../data/Pollution/2_Processed/PA75002.csv',
 '../data/Pollution/2_Processed/PA75004.csv',
 '../data/Pollution/2_Processed/PA75006.csv',
 '../data/Pollution/2_Processed/PA75007_1.csv',
 '../data/Pollution/2_Processed/PA75007_2.csv',
 '../data/Pollution/2_Processed/PA75008.csv',
 '../data/Pollution/2_Processed/PA75009.csv',
 '../data/Pollution/2_Processed/PA75012_1.csv',
 '../data/Pollution/2_Processed/PA75012_2.csv',
 '../data/Pollution/2_Processed/PA75012_3.csv',
 '../data/Pollution/2_Processed/PA75013.csv',
 '../data/Pollution/2_Processed/PA75014.csv',
 '../data/Pollution/2_Processed/PA75015.csv',
 '../data/Pollution/2_Processed/PA75016.csv',
 '../data/Pollution/2_Processed/PA75018.csv',
 '../data/Pollution/2_Processed/PA92220.csv',
 '../data/Pollution/2_Processed/PA92800.csv',
 '../data/Pollution/2_Processed/PA93300.csv',
 '../data/Pollution/2_Processed/PA93500.csv']

In [5]:
PA75001 = pd.read_csv(file_list[0]).copy()
PA75001 = PA75001.drop(columns=("Unnamed: 0"))
PA75001.describe()

,CO,PM10,PM25,NO2,NO,NOX,O3
count,14335.000000,22492.000000,24533.000000,23987.000000,23987.000000,23997.000000,26325.000000
mean,0.200336,19.347461,11.622590,23.252695,5.152441,31.245956,49.443905
std,0.102242,11.810691,8.667742,15.071069,13.880600,31.951493,27.259004
min,0.037000,0.500000,0.000000,1.900000,0.000000,2.000000,0.000000
25%,0.144000,11.500000,6.100000,11.900000,0.700000,13.600000,30.400000
50%,0.180000,16.600000,9.100000,19.000000,1.500000,21.700000,49.000000
75%,0.230000,24.000000,14.300000,30.900000,3.500000,36.400000,66.000000
max,4.309000,128.500000,111.100000,106.200000,252.200000,455.900000,193.100000

In [6]:
import matplotlib.pyplot as plt
import seaborn as sns
from statsmodels.graphics.gofplots import qqplot
import pandas as pd

def turbo_plot(X):
    fig = plt.figure(constrained_layout=True,figsize=(15,120))
    subfigs = fig.subfigures(X.shape[1], 1,squeeze=False,hspace=20)
    for outerind, subfig in enumerate(subfigs.flat):
        subfig.suptitle(f'Subfig {X.columns[outerind]}')
        axs = subfig.subplots(1, 3)
        sns.histplot(data = X, x = X.columns[outerind], kde=True, ax = axs[0])
        sns.boxplot(data = X, x = X.columns[outerind], ax = axs[1])
        qqplot(X[X.columns[outerind]],line='s',ax=axs[2])
    return plt.show()

ModuleNotFoundError: No module named 'statsmodels'

turbo_plot